<h2>My Meetups</h2>
<div *ngIf="(meetupList | async);then content_table else content_table_loading"></div>
<ng-template  #content_table_loading>
  <div class="spinner-container">
    <md-spinner title="Loading..."></md-spinner>
  </div>
</ng-template>

<ng-template  #content_table>
<table class="styled" >
  <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Status</th>
    <!--<th>Desc</th>-->
    <th>Start Date</th>
    <th>End Date</th>
  </thead>
  <tbody>
  <tr *ngFor="let meetup of (meetupList|async)" (click)="displayDetails(meetup.id)">
    <td nowrap="nowrap">{{meetup.id}}</td>
    <td nowrap="nowrap">{{meetup.name}}</td>
    <td nowrap="nowrap">{{meetup.status}}</td>
    <!--<td nowrap="nowrap" innerHTML="{{meetup.description}}"></td>-->
    <td nowrap="nowrap">{{meetup.time| date:'short'}}</td>
    <td nowrap="nowrap">{{(meetup.time+meetup.utc_offset)| date:'short'}}</td>
  </tr>
  </tbody>
</table>
</ng-template >
