.spinner-container {
  height: 30px;
}
md-spinner {
  width:30px;
  height: 30px;
  margin: 0 auto;
}
.my-log{
  background-color: yellow;
}

.error-container{
  height: 30px;
  margin: 0 auto;
}
.login-error{
  color:red;
  font-weight: bold;
}
