<md-menu #menu="mdMenu" position-y="100">
  <button md-menu-item routerLink="/">Home</button>
  <button md-menu-item routerLink="login" *ngIf="!stateService.isLoggedIn">Login</button>

  <button md-menu-item routerLink="registration" *ngIf="!stateService.isLoggedIn">Registration</button>
  <button md-menu-item routerLink="password-recover">Password Recovery</button>
  <button md-menu-item routerLink="/" (click)="stateService.logout()" *ngIf="stateService.isLoggedIn">Logout</button>

  <div *ngIf="stateService.isLoggedIn">
  <button md-menu-item routerLink="my-meetups">My Meetups</button>
  <button md-menu-item routerLink="participants">Participants</button>
  <button md-menu-item routerLink="participants-check-in">Check In</button>
  </div>
</md-menu>


<md-toolbar>

  <button class="main-menu" [mdMenuTriggerFor]="menu">
    <!--<md-icon>more_vert</md-icon>-->
    M
  </button>

  Meetup Control
</md-toolbar>

<br><br>

<div>
  Count: {{ count$ | async}}
  <button (click)="increment()">+</button>
  <button (click)="decrement()">-</button>
</div>


<router-outlet></router-outlet>

