
<md-menu #menu="mdMenu" position-y="100">

  <button md-menu-item routerLink="/">Home</button>
  <button md-menu-item routerLink="login" *ngIf="!(currentUser | async)">Login</button>
  <button md-menu-item routerLink="registration" *ngIf="!(currentUser | async)">Registration</button>
  <button md-menu-item routerLink="password-recover" *ngIf="!(currentUser | async)">Password Recovery</button>

  <div *ngIf="currentUser | async">
    <button md-menu-item routerLink="my-meetups">My Meetups</button>
    <button md-menu-item routerLink="participants">Participants</button>
    <button md-menu-item routerLink="participants-check-in">Check In</button>
  </div>

  <button md-menu-item routerLink="/" (click)="this.logout()" *ngIf="currentUser | async">Logout</button>

</md-menu>


<md-toolbar>

  <button class="main-menu" [mdMenuTriggerFor]="menu">
    <!--<md-icon>more_vert</md-icon>-->
    M
  </button>

  <div class="app-name">
    Meetup Control
  </div>
  <div class="user-name">
    {{ currentUser | async }}
  </div>

</md-toolbar>


<router-outlet></router-outlet>

