<md-card class="popup-card">

  <md-toolbar>
    <div class="md-toolbar">
      <h2><span>Password Recovery</span></h2>
    </div>
  </md-toolbar>

  <form [formGroup]="formPasswordRecover" (submit)="passwordRecover()">

    <md-input-container>
      <input mdInput placeholder="Email" type="text" title="email" formControlName="email"/>
    </md-input-container>
    <md-card-actions align="center">
      <button md-raised-button type="submit" class="button default">Submit</button>
    </md-card-actions>

    <md-card-footer align="left">
      <a md-button routerLink="../login">Login</a>
      <a md-button routerLink="../registration">Registration</a>
    </md-card-footer>

  </form>

</md-card>
