<h2>Meetup Details</h2>
<div *ngIf="(meetup | async);then content_data else content_loading"></div>

<ng-template #content_loading>
  <div class="spinner-container">
    <md-spinner title="Loading..."></md-spinner>
  </div>
</ng-template>

<ng-template #content_data>
  <div class="back-button-container">
    <button class="back-button" routerLink="../../my-meetups"><</button>
  </div>
  <div>
    <table class="styled" *ngIf="meetup">
      <tr>
        <td>Id</td>
        <td>{{(meetup|async).id}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{(meetup|async).name}}</td>
      </tr>
      <tr>
        <td nowrap="nowrap">Start Date</td>
        <td>{{(meetup|async).time| date:'short'}}</td>
      </tr>
      <tr>
        <td nowrap="nowrap">End Date</td>
        <td>{{((meetup|async).time + (meetup|async).utc_offset) | date:'short'}}</td>
      </tr>
      <tr>
        <td valign="top">Desc</td>
        <td [innerHTML]="(meetup|async).description"></td>
      </tr>
    </table>


    <br><br>

<div *ngIf="(meetupRsvp|async)">
    <h2>Participants - {{(meetupRsvp|async).length}}</h2>

    <table class="styled">
      <tr *ngFor="let participant of (meetupRsvp|async)" (click)="openQrCodeDialog(participant.member.id)">
        <!--<td>{{ participant.participantId }}</td>-->
        <td>{{ participant.member.name}}</td>
      </tr>
    </table>
</div>
    <button md-raised-button routerLink="../../my-meetups">Back</button>

  </div>
</ng-template>
